    /* Small Devices, Tablets */
    @media only screen and (max-width: 768px) {

        body .fix-width{
            width: auto!important;
        }

        body main
        {
            width:100%!important;
            height:auto!important;
        }

        body main #buttons
        {
            text-align: center;
        }

        body main #buttons a, 
        body main #box .form-group select.marca,
        body main #box .form-group select.modelo, 
        body main #box .dropdown, 
        body main #box .dropdown .drop, 
        body main #box .form-group select.versao
        {
            width:100%;
        }

        body main #buttons a
        {
            padding:10px 0;
        }

        body main #buttons a.btn-vender
        {
            float:none;
            margin-bottom:40px;
        }

        body main #box
        {
            width:100%;
            padding:0 0 25px 0;
        }

        body main #box #inputs
        {
            padding-top:20px;
        }

        body main #box #inputs .form-check
        {
            text-align: center;
            margin-bottom:10px;
        }

        body main #box .form-group label#onde
        {
            display:none;
        }

        body main #box .form-group input.cidade
        {
            border:1px solid #ccc;
            margin-bottom:15px;
            border-radius:4px;
            
        }

        body main #box .form-group select.raio, 
        body main #box .form-group select.marca, 
        body main #box .form-group select.modelo
        {
            margin-left:0;
            border-radius:4px;
        }

        body main #box .dropdown
        {
            margin:0 0 15px 0;
        }

        body main #box a#avancada
        {
            margin-top:38px;
        }

        body main #box #btnBuscar
        {
            width: 290px;
        }

    }

    /* Conditional - Tablets */ 
    @media only screen and (max-width: 950px) and (min-width: 769px) {

        body .fix-width{
            width: 750px!important;
        }

        body main
        {
            width:100%!important;
            height:auto!important;
        }

        body main #box .form-group input.cidade
        {
            width: 185px;
            border-right:1px solid #ccc;
            border-top-right-radius:4px;
            border-bottom-right-radius:4px;
        }

        body main #box .form-group select.raio
        {
            width:82px;
        } 

        body main #box .form-group select.marca, 
        body main #box .form-group select.modelo
        {
            width:144px;
        }

        body main #box .dropdown .drop
        {
            width: 318px;
            margin-right:0;
        }

         body main #box .form-group select.versao
         {
            width: 100%;
            margin:15px 0 0 0;
         }
 
        body main #box .form-group select.raio,
        body main #box .form-group select.marca,
        body main #box .form-group select.modelo
        {
            border:1px solid #ccc;
            border-radius:4px;
            margin-left:0;
        }

        body main #box .dropdown
        {
            margin-bottom:0;
        }

        body main #box .sm-total, body main #box .sm-total .versao
        {
            width:100%;
        }

    }

    